@media screen and (max-width: 1200px) {
  .menue {
    display: flex;
    margin-right: 10px;
  }

  .nav-links li {
    text-align: center;
    padding: 5px 0;
    font-size: 18px;
  }

  .nav-links {
    display: none;
    margin: 0;
    padding: 0;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
    gap: 1px;
    margin-bottom: 20px;
  }

  .nav-links.open {
    display: flex;
  }

  .navbar-desktop {
    flex-direction: column;
  }

  .nav-title {
    margin-top: 13px;
  }

  .profile-container {
    flex-direction: column;
  }

  /*  small screen for about page */

  .about-container {
    margin-top: 7rem;
  }

  .row {
    flex-direction: column;
  }

  .experience {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    flex-direction: column;
  }
  .education {
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .education h3 {
    font-size: 10px;
  }
  .education p {
    font-size: 10px;
  }
  .experience h3 {
    font-size: 10px;
  }
  .experience p {
    font-size: 10px;
  }

  .about-text-container p {
    width: 17rem;
    padding: 10px;
    text-align: justify;
    line-height: 1.4;
    color: rgb(181, 181, 181);
  }

  .experience-detail-container {
    gap: 5px;
  }

  .frontend-experience {
    width: 10%;
  }

  .frontend-experience h3 {
    font-size: 11px;
  }

  .frontend-detail h5 {
    font-size: 7px;
  }
  .frontend-detail p {
    font-size: 6px;
  }
}

.project-container {
  gap: 10px;
}

/*small screen for contact page */



/* small screen for projects */

@media (max-width: 768px) {
  .project-container{
    gap: 5px;
  }

  .project-content-container{
    margin-bottom: 0;
  }
  
  .project-title-container{
    margin-top: 8rem;
    margin-bottom: 2rem;
  }
  .project-detail {
    gap: 5px;
    padding-top: 15px;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgb(181, 181, 181);
    border-radius: 20px;
    width: 22vh;
    height: 37vh;
  }
  .project-detail img {
    width: 200px;
  }
  .project-button button {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 5rem;
    border-radius: 2rem;
    cursor: pointer;
    background-color: white;
    font-weight: bold;
    font-size: 10px;
  }

  .project-button button {
    font-size: 11px;
  }
}

@media (max-width: 500px) {
  .project-content-container {
    flex-direction: column;
  }

  .project-detail {
    padding-top: 15px;
    padding-right: 30px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgb(181, 181, 181);
    border-radius: 20px;
    width: 50;
    height: 40vh;
  }

  .project-detail img {
    width: 180px;
    height: 100px;
  }

  .contact-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact-input-container{
    display: flex;
    flex-direction: column;
  }
  .contact-text-input textarea{
    display: flex;
    flex-direction: column;
    width: 20rem;
  }
}


@media(max-width:820px){
  .project-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  

}
