@media screen and (max-width: 768px) {
  .menue {
    display: flex;
    margin-right: 10px;
  }

  .nav-links li {
    text-align: center;
    padding: 5px 0;
    font-size: 18px;
  }

  .nav-links {
    display: none;
    margin: 0;
    padding: 0;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
    gap: 1px;
    margin-bottom: 20px;
  }

  .nav-links.open {
    display: flex;
  }

  .navbar-desktop {
    flex-direction: column;
  }

  .nav-title {
    margin-top: 13px;
  }

  .profile-container {
    flex-direction: column;
  }

  /*  small screen for about page */

  .about-container {
    margin-top: 7rem;
  }

  .row {
    flex-direction: column;
  }

  .experience {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    flex-direction: column;
  }
  .education {
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .education h3 {
    font-size: 10px;
  }
  .education p {
    font-size: 10px;
  }
  .experience h3 {
    font-size: 10px;
  }
  .experience p {
    font-size: 10px;
  }

  .about-text-container p {
    width: 17rem;
    padding: 10px;
    text-align: justify;
    line-height: 1.4;
    color: rgb(181, 181, 181);
  }

  .experience-detail-container {
    gap: 5px;
  }

  .frontend-experience {
    width: 10%;
  }

  .frontend-experience h3 {
    font-size: 11px;
  }

  .frontend-detail h5 {
    font-size: 7px;
  }
  .frontend-detail p {
    font-size: 6px;
  }
}
