* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  padding-top: 70px;
}

.navbar-desktop {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 70px;
  top: 0;
  z-index: 999;
}

.nav-title {
  color: rgb(174, 174, 185);
  margin-left: 30px;
  font-size: 20px;
}

.nav-links {
  display: flex;
  margin: 7px;
  gap: 10px;
  list-style: none;
  margin-right: 10rem;
}

.nav-links a {
  color: rgb(174, 174, 185);
  text-decoration: none;
  font-size: 20px;
}

.nav-links a:hover {
  text-decoration: underline;
  text-decoration-color: rgb(181, 181, 181);
  text-underline-offset: 0.75rem;
  color: rgb(41, 40, 40);
}

.menue {
  display: none;
  right: 0.75rem;
  top: 0.75rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}

.menue span {
  height: 0.4rem;
  width: 100%;
  background-color: rgb(12, 12, 12);
  border-radius: 0.2rem;
  transition: all 0.3s ease-in-out;
}

.menue.open span:nth-child(1) {
  transform: rotate(45deg) translate(13px, 5px);
}
.menue.open span:nth-child(2) {
  opacity: 0;
}
.menue.open span:nth-child(3) {
  transform: rotate(-45deg) translate(13px, -5px);
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 7rem;
}

.profile-text h1 {
  color: rgb(181, 181, 181);
}

.text-p1 {
  margin-bottom: 20px;
  font-weight: bold;
  color: rgb(181, 181, 181);
}
.text-p2 {
  color: rgb(181, 181, 181);
}

.profile-btn button {
  padding: 15px;
  margin-top: 13px;
  border-radius: 25px;
  border: none;
  color: rgb(243, 237, 237);
  background-color: rgb(181, 181, 181);
  font-size: 16px;
  cursor: pointer;
}

.profile-picture img {
  width: 300px;
  border-radius: 70%;
}

.icons {
  margin-top: 20px;
  display: flex-start;
  margin: 3px;
}

.icons a {
  margin: 3px;
  color: white; /* Icon color */
  font-size: 15px; /* Make the icon larger */
  padding: 10px; /* Adds space around the icon */
  border-radius: 50%; /* Makes the container circular */
  background-color: rgb(182, 181, 181); /* Background color for the circle */
  display: inline-flex; /* Allows for centering */
  align-items: center; /* Center the icon vertically */
  justify-content: center; /* Center the icon horizontally */
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transitions */
}

/* About Page */

.about-container {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  justify-content: center;
}

.row {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 400px;
  border-radius: 60px;
}

.right {
  display: flex;
}

.experience-education-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch; /* Ensure equal height */
  text-align: center;
  gap: 20px;
}

.experience,
.education {
  flex: 1; /* Ensures equal width for both */
  border: 2px solid rgb(181, 181, 181);
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.experience-education-container > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.about-img-container img {
  width: 300px;
  padding: 20px;
  border-radius: 60px;
}

.about-container-title-texts {
  text-align: center;
}
.about-container-title-texts,
h1 {
  color: rgb(181, 181, 181);
}

.about-container-title-texts p {
  font-size: 15px;
  color: rgb(181, 181, 181);
  text-align: center;
  align-items: center;
}
.about-container-title-texts h1 {
  font-size: 50px;
}

.about-text-container {
  display: block;
  margin-top: 20px;
}
.about-text-container p {
  width: 40rem;
  padding: 10px;
  text-align: justify;
  line-height: 1.4;
  color: rgb(181, 181, 181);
}
.experience-detail-container {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 10px;
}

.experience-detail-container > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.experience-title {
  text-align: center;
}

.frontend-experience {
  border: 1px solid rgb(181, 181, 181);
  flex: 1; /* Ensures equal width for both */
  border: 2px solid rgb(181, 181, 181);
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.frontend-detail {
  display: flex;
  justify-content: space-evenly;
  gap: 5px;
  padding: 1rem;
}

.experience-title h1,
p {
  color: rgb(175, 175, 175);
}

.frontend-detail p,
h3,
h5 {
  color: rgb(175, 175, 175);
}

.a {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 7px;
}

.frontend-detail div {
  display: flex;
  flex-direction: column;
  text-align: justify;
}

/* Project page style */

.project-container {
  text-align: center;
  width: 100%;
  height: auto;
}

.project-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin-top: 10rem;
}

.project-detail {
  position: relative;
  padding-top: 15px;
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgb(181, 181, 181);
  border-radius: 20px;
  width: 50;
  height: 40vh;
}
.project-detail img {
  width: 300px;
  height: 150px;
  border-radius: 20px;
}

.project-title {
  margin-top: 10px;
  font-size: 10px;
}

.project-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  margin-top: 40px;
  padding-bottom: 1rem;
}
.project-button button {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 7rem;
  border-radius: 2rem;
  cursor: pointer;
  background-color: white;
  font-weight: bold;
  font-size: 10px;
}
