* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  padding-top: 70px;
}

.navbar-desktop {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 70px;
  top: 0;
  z-index: 999;
}

.nav-title {
  color: rgb(174, 174, 185);
  margin-left: 30px;
  font-size: 20px;
}

.nav-links {
  display: flex;
  margin: 7px;
  gap: 10px;
  list-style: none;
  margin-right: 10rem;
}

.nav-links a {
  color: rgb(174, 174, 185);
  text-decoration: none;
  font-size: 20px;
}

.nav-links a:hover {
  text-decoration: underline;
  text-decoration-color: rgb(181, 181, 181);
  text-underline-offset: 0.75rem;
  color: rgb(41, 40, 40);
}

.menue {
  display: none;
  right: 0.75rem;
  top: 0.75rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}

.menue span {
  height: 0.4rem;
  width: 100%;
  background-color: rgb(12, 12, 12);
  border-radius: 0.2rem;
  transition: all 0.3s ease-in-out;
}

.menue.open span:nth-child(1) {
  transform: rotate(45deg) translate(13px, 5px);
}
.menue.open span:nth-child(2) {
  opacity: 0;
}
.menue.open span:nth-child(3) {
  transform: rotate(-45deg) translate(13px, -5px);
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 7rem;
}

.profile-text h1 {
  color: rgb(181, 181, 181);
}

.text-p1 {
  margin-bottom: 20px;
  font-weight: bold;
  color: rgb(181, 181, 181);
}
.text-p2 {
  color: rgb(181, 181, 181);
}

.profile-btn button {
  padding: 15px;
  margin-top: 13px;
  border-radius: 25px;
  border: none;
  color: rgb(243, 237, 237);
  background-color: rgb(181, 181, 181);
  font-size: 16px;
  cursor: pointer;
}

.profile-picture img {
  width: 300px;
  border-radius: 70%;
}

.icons {
  margin-top: 20px;
  display: flex-start;
  margin: 3px;
}

.icons a {
  margin: 3px;
  color: white; /* Icon color */
  font-size: 15px; /* Make the icon larger */
  padding: 10px; /* Adds space around the icon */
  border-radius: 50%; /* Makes the container circular */
  background-color: rgb(182, 181, 181); /* Background color for the circle */
  display: inline-flex; /* Allows for centering */
  align-items: center; /* Center the icon vertically */
  justify-content: center; /* Center the icon horizontally */
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transitions */
}

/* About Page */

.about-container {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  justify-content: center;
}

.row {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 400px;
  border-radius: 60px;
}

.right {
  display: flex;
}

.experince-education-container {
  display: flex;
}

.experience {
  width: 100%;
  border: 2px solid rgb(181, 181, 181);
  padding-right: 4rem;
  padding-left: 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-radius: 30px;
  border-color: rgb(181, 181, 181);
  margin-right: 15px;
  display: block;
  margin-left: 10px;
  margin-right: 10px;
}

.education {
  display: block;
  width: 100%;
  border: 2px solid rgb(181, 181, 181);
  padding-right: 4rem;
  padding-left: 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-radius: 30px;
  margin-right: 10px;
  margin-left: 10px;
}

.about-img-container img {
  width: 300px;
  padding: 20px;
  border-radius: 60px;
}

.about-container-title-texts {
  text-align: center;
}

.about-container-title-texts p {
  font-size: 15px;
  color: rgb(181, 181, 181);
}
.about-container-title-texts h1 {
  font-size: 50px;
}

.about-text-container {
  display: block;
  margin-top: 20px;
}
.about-text-container p {
  width: 40rem;
  padding: 10px;
  text-align: justify;
  line-height: 1.4;
  color: rgb(181,181,181);
}
@media screen and (max-width: 768px) {
  .about-container {
    width: 100%;
    padding: 8rem;
    box-sizing: border-box;
    justify-content: center;
  }

  .row {
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .menue {
    display: flex;
  }

  .nav-links li {
    text-align: center;
    padding: 5px 0;
    font-size: 18px;
  }

  .nav-links {
    display: none;
    margin: 0;
    padding: 0;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
    gap: 1px;
  }

  .nav-links.open {
    display: flex;
  }

  .navbar-desktop {
    flex-direction: column;
  }

  .nav-title {
    margin-top: 13px;
  }
}
